body, h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222;
}

ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo a {
  color: white;
  text-decoration: none;
}

.superinfo {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 960px;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo a, .superinfo p {
  margin: 0 10px 10px 10px;
}
